main {
    height: 1400px;
    padding-left: 20px;
}

h2,h3 {
    margin: 20px 0;
}

.box {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #7ae3e7;
    text-align: center;
}

/* DISPLAY */
.block-boxes .box {
    height: 50px;
    width: 50px;
    display: block;
}

.inlines-boxes .box {
    /* height y width que no esta tomando */
    height: 50px;
    width: 50px;
    display: inline;
    padding: 3px;
}

.inline-block-boxes .box {
    height: 50px;
    width: 50px;
}

/* FLOAT */
.box-father {
    background: #257db8;
    width: 700px;
    /* overflow */
    overflow: hidden;
}

.float-box {
    width: 90px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    height: 90px;
    background: #7ae3e7;
    margin: 20px;
}

.first-box {
    float: left;
}

.second-box {
    float: right;
}

/* POSITION */
.absolute {
    position: absolute;
    bottom: 50px;
    left: 196px;
}

.relative {
    position: relative;
    bottom: 50px;
    left: 196px;
    background: red;
}